<!-- Investigators Section -->
<section id="about" class="content-section">
  <div class="container about-section">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Registration</h2>
        <div class="col-lg-8 col-lg-offset-2">

          <p>This workshop aims to bring together researchers with different backgrounds in computer science,
            control theory, statistics and math who are interested in addressing distributional robustness in
            learning, optimization, and control.
          </p>
          <br>
          <!-- Registration is required for all participants. Registration is now closed. -->
<!--           <p> To register for the workshop, please use the link below.  -->
<!--             <del>The registration costs USD 45.</del> -->
<!--             The (late) registration costs USD 75. -->
          </p>
<!--           <h3 class="text-center"><a href="https://forms.gle/G932uKFLo8XrE7St5">*(Late) Registration Form*</a> </h3> -->
<!--           <p> The deadline to register is <b><del>11:30AM PT on July 7, 2022</del> <ins>11:30AM PT on July 14, 2022</ins></b>.</p> -->
          <br><br>


          <h2 class="text-center">Accommodation</h2>
          <p>Please make sure to book your travel very early.
            For accommodation, there is a set of rooms blocked at the
            <b><a href="img/ifds-silvercloud.pdf">Silver Cloud Hotel</a></b> near campus.
            Please make your booking before July 7th 2022.
          </p>
          <br><br>

          <h2 class="text-center">Organizers</h2>
          <h5 class="text-center">Organizer:
            <a href="https://faculty.washington.edu/zaid/">Zaid Harchaoui (UW)</a>
          </h5>
          <h5 class="text-center">Local Organizers:
            <a href="https://krishnap25.github.io">Krishna Pillutla (UW)</a>,
            <a href="https://ronakdm.github.io/">Ronak Mehta (UW)</a>,
            <a href="https://www.rossboczar.com/">Ross Boczar (UW)</a>,
            <a href="https://stephen.mussmann.xyz/">Steve Mussmann (UW)</a>
          </h5>
          <h5 class="text-center">Steering Committee:
            <a href="https://faculty.washington.edu/mfazel/">Maryam Fazel (UW)</a>,
            <a href="https://willett.psd.uchicago.edu/">Rebecca Willett (Chicago)</a>,
            <a href="http://pages.cs.wisc.edu/~swright/">Stephen Wright (Wisconsin)</a>
          </h5>
        </div>
      </div>
      <div class="text-center">
        <a href="#talks" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
</section>
