<!-- Investigators Section -->
<section id="about" class="content-section">
  <div class="container about-section">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Registration</h2>
        <div class="col-lg-8 col-lg-offset-2">

          <br>
          <p>
            
          </p>
          <p>
            Registration is open only to RIKEN visitors and UW students, postdocs, and faculty.
            For RIKEN visitors, please register <a href="https://www.eventbrite.com/e/1238219069569?aff=oddtdtcreator">here</a>.
            For UW students, we will send out an internal registration form.
          </p>
          <br><br>
          <h2 class="text-center">Organizers</h2>
          <h5 class="text-center"><a href="https://koh.pw/">Pang Wei Koh (UW)</a></h5>
          <h5 class="text-center"><a href="https://www.ms.k.u-tokyo.ac.jp/sugi/index.html">Masashi Sugiyama (RIKEN AIP)</a></h5>
          <h5 class="text-center"><a href="https://ypwang61.github.io/">Yiping Wang (UW)</a></h5>
        </div>
      </div>
      <!-- <div class="text-center">
        <a href="#talks" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div> -->
    </div>
</section>
