    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="brand-heading">UW - RIKEN AIP Joint Workshop</h3>

                        <p> Hosted by the 
                            <a href="https://ifds.info/">Institute for Foundations of Data Science</a> <br> University of Washington</p>

                        <p> Jointly organized with University of Wisconsin - Madison, University of Chicago, 
                            University of California Santa Cruz
                        </a></p>

                        <p> </p>
                        <a href="#dates" class="btn btn-circle page-scroll">

                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
