    <!-- Research Section -->
    <section id="location" class="container location-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Location</h2>
				<h5>Bill & Melinda Gates Center, University of Washington</h5>
            </div>
        </div>
        <div class="text-center">
          <a href="#speakers" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
    </section>
