    <!-- Section -->

    <section id="schedule" class="container content-section text-center">
      <div class="table">
        <h2>Schedule</h2>
        <h4>Lectures will be held in Zillow Commons, 4th floor of the Gates Center</h4>
        <!-- 
        <p>
          For the full tentative agenda, please see the spreadsheet below:
          <a href="https://docs.google.com/spreadsheets/d/1PUKf7H-LfNOLIeKmplV-V1OAEyOPgxHb3Nchp-8bMKY/edit?gid=0#gid=0" target="_blank">View Spreadsheet</a>
        </p> 
        -->
        <div class="row">
          <div class="col-md-6">
              <h4>Thursday 3/20</h4> 
              <table class="table table-large">
              <tbody>
                <tr>
                  <td>10:30 AM</td><td>Registration starts</td>
                </tr>
                <tr>
                  <td>11:00 AM</td><td>Opening</td>
                </tr>
                <tr>
                  <td>11:10 AM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>11:35 AM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>12:00 PM</td><td>Lunch | set up posters</td>
                </tr>
                <tr>
                  <td>1:00 PM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>1:25 PM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>1:50 PM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>2:15 PM</td><td>Break</td>
                </tr>
                <tr>
                  <td>2:30 PM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>2:55 PM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>3:20 PM</td><td>Campus tour | Coffee break</td>
                </tr>
                <tr>
                  <td>4:35 PM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>5:00 PM</td><td>Poster session 1</td>
                </tr>
                <tr>
                  <td>5:45 PM</td><td>Travel to Ba Bar</td>
                </tr>
                <tr>
                  <td>6:00 PM</td><td>Dinner at Ba Bar</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
              <h4>Friday 3/21</h4> 
              <table class="table table-large">
              <tbody>
                <tr>
                  <td>9:00 AM</td><td>Breakfast | set up posters</td>
                </tr>
                <tr>
                  <td>9:30 AM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>9:55 AM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>10:20 AM</td><td>Poster session 2</td>
                </tr>
                <tr>
                  <td>11:10 AM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>11:35 AM</td><td>Talk</td>
                </tr>
                <tr>
                  <td>12:00 PM</td><td>Lunch</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
</div>
    </section>
