    <!-- Section -->

    <section id="schedule" class="container content-section text-center">
      <div class="table">
        <h2>Schedule</h2>
        <p></p>
        <h4><a href="https://www.youtube.com/watch?v=OXNbv3AIpoM">Live Stream</a></h4>
        <h4>Lectures will be held in Zillow Commons, 4th floor of Gates Center</h4>
        <h4>Discussion sessions will be held in G04, ground floor of Gates Center</h4>
      <div class="row">
          <div class="col-md-4">
              <h4> August 19 </h4> 
              <table class="table table-large">
              <tbody>
                <tr>
                  <td>9:00-9:45</td><td> Lecture: Yinyu Ye </td>
                </tr>
                <tr>
                  <td>9:45-10:30</td><td> Lecture: Mengdi Wang </td>
                </tr>
                <tr>
                  <td>10:30-11:00</td><td> Break </td>
                </tr>
                <tr>
                  <td>11:00-11:45</td><td> Lecture: Ben Recht </td>
                </tr>
                <tr>
                  <td>11:45-1:30</td><td> Lunch </td>
                </tr>
                <tr>
                  <td>1:30-2:15</td><td> Lecture:  Alekh Agarwal  </td>
                </tr>
                <tr>
                  <td>2:15-3:00</td><td> Lecture: Daniel Russo  </td>
                </tr>
                <tr>
                  <td>3:00-3:30</td><td> Break  </td>
                </tr>
                <tr>
                  <td>3:30-4:30</td><td> Discussion Session  </td>
                </tr>
                <tr>
                  <td>4:30-6:30</td><td> Poster Session & Reception</td>
                </tr>
                </tbody>
            </table>
          </div>
          <div class="col-md-4">
              <h4> August 20 </h4> 
              <table class="table table-large">
              <tbody>
                <tr>
                  <td>9:00-9:45</td><td> Lecture: Yishay Mansour </td>
                </tr>
                <tr>
                  <td>9:45-10:30</td><td> Lecture: Emo Todorov </td>
                </tr>
                <tr>
                  <td>10:30-11:00</td><td> Break </td>
                </tr>
                <tr>
                  <td>11:00-11:45</td><td> Lecture: Emma Brunskill</td>
                </tr>
                <tr>
                  <td>11:45-1:30</td><td> Lunch </td>
                </tr>
                <tr>
                  <td>1:30-2:15</td><td> Lecture: Necmiye Ozay  </td>
                </tr>
                <tr>
                  <td>2:15-3:00</td><td> Lecture: Pablo Parrilo  </td>
                </tr>
                <tr>
                  <td>3:00-3:30</td><td> Break  </td>
                </tr>
                <tr>
                  <td>3:30-4:30</td><td> Discussion Session  </td>
                </tr>
                </tbody>
            </table>
          </div>
          <div class="col-md-4">
              <h4> August 21 </h4> 
              <table class="table table-large">
              <tbody>
                <tr>
                  <td>9:00-9:45</td><td> Lecture: Byron Boots </td>
                </tr>
                <tr>
                  <td>9:45-10:30</td><td> Lecture: Vikash Kumar </td>
                </tr>
                <tr>
                  <td>10:30-11:00</td><td> Break </td>
                </tr>
                <tr>
                  <td>11:00-11:45</td><td> Lecture: Csaba Szepesvári </td>
                </tr>
                <tr>
                  <td>11:45-1:30</td><td> Lunch </td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
</div>
    </section>
