 <!-- Investigators Section -->
    <section id="speakers" class="content-section">
      <div class="container investigators-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center">Invited Speakers</h2>
            <table class="table table-large">
              <tbody>

<!-- EXAMPLE ROW BELOW: -->
<!-- <tr>
<td class="thumb"><img src="img/instructors/emo.png"></td>
<td><a href="https://homes.cs.washington.edu/~todorov/index.php">Emo Todorov</a><br />University of Washington<br /><i> </i></td>
<td class="thumb"><img src="img/instructors/pablo.jpg"></td>
<td><a href="http://www.mit.edu/~parrilo/">Pablo Parrilo</a> <br />Massachusetts Institute of Technology<br /><i> </i></td>
</tr> -->
                  
    
<tr>
<td class="thumb"><img src="img/speakers/becca.jpg"></td>
<td><a href="https://willett.psd.uchicago.edu/">Rebecca Willett</a><br />University of Chicago<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/hongseok.png"></td>
<td><a href="https://hsnamkoong.github.io/">Hongseok Namkoong</a><br />Columbia University<br /><i> </i></td>
</tr>
                  

<tr>
<td class="thumb"><img src="img/speakers/samory.jpg"></td>
<td><a href="http://www.columbia.edu/~skk2175/">Samory Kpotufe</a><br />Columbia University<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/yao.jpg"></td>
<td><a href="https://www2.isye.gatech.edu/~yxie77/">Yao Xie</a> <br /> Georgia Institute of Technology <br /><i> </i></td>
</tr>
        
                  
<tr>
<td class="thumb"><img src="img/speakers/lillian.jpg"></td>
<td><a href="https://faculty.washington.edu/ratliffl/">Lillian Ratliff</a><br />University of Washington<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/ludwig.jpg"></td>
<td><a href="https://people.csail.mit.edu/ludwigs/">Ludwig Schmidt</a> <br />Univesity of Washington<br /><i> </i></td>
</tr>
                  
<tr>
<td class="thumb"><img src="img/speakers/brian.jpg"></td>
<td><a href="https://www.cs.uic.edu/Ziebart">Brian Ziebart</a> <br />University of Illinois at Chicago<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/rtr.jpg"></td>
<td><a href="https://sites.math.washington.edu/~rtr/mypage.html">R. Tyrrell Rockafellar</a> <br />Univesity of Washington<br /><i> </i></td>
</tr>
                  
<tr>
<td class="thumb"><img src="img/speakers/steve.jpg"></td>
<td><a href="https://pages.cs.wisc.edu/~swright/">Stephen J. Wright</a><br />University of Wisconsin<br /><i> </i></td>
</tr>
                  
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#schedule" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>
